@import "tailwindcss";

:root {
  --shadow-square: 0 15px 50px rgba(128, 128, 128, 0.877);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid gray;
  padding:20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(176, 175, 175); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cbc9c9;
}